<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 495px;">
  
  <article>
<!-- Content Header (Page header) -->
    <header class="content-header container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="content-max-width">Agregar jugador</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= render 'shared/messages' %>
        </div>
      </div>
    </header>

    <section class="content container-fluid">
      <div class=" col-md-3">
        <div class="box box-primary">
          <!-- /.box-header -->

          <!-- form start -->
          <%= form_for @player, url: {action: "create"} do |f| %>
            <div class="box-body">
              <div class="form-group">
                <label>Nombre</label>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="box-footer">
                <%= f.submit "Crear", class: 'btn btn-primary' %>

              </div>
            </div>
            <% end %>
<!-- /.box-body -->
          </div>
        </div>
      </section>

    </article>
</div>
<!-- /.content-wrapper -->
